<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Play At Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
  <ion-item *ngFor="let item of listItems" button (click)="lessonDetail(item.id)">
    <ion-thumbnail slot="start" >
      <img  src="https://baobabsports.com/baosport/activityimages/{{item.image.split(',', 1)}}">
    </ion-thumbnail>
    <ion-label>
      <h3 size="smaller">{{item.activityName}}</h3>
      <p>{{item.created}}</p>
      <span>{{item.addedby}}</span>
    </ion-label>
    <ion-icon  slot="end"></ion-icon>
  </ion-item>
  </ion-list>
</ion-content>
