<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Prayer Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Util Used</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>{{untilUsed}}</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Activity Schedule</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>{{schedule}}</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
